body {
  margin: 0;
  height: 100vh;
}

header {
  background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  color: white;
}

header button {
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
  cursor: pointer;
}

.section1 {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-section1 {
  width: 50%;
  column-count: 2;
  text-align: center;
  column-gap: 30px;
  padding-bottom: 18px;
  font-size: 1.1em;
  line-height: 1.5;
}

.section2 {
  width: 100%;
  background-color: #333;
}

.section2-card {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 32px 0px;
}

.box {
  border: 1px solid;
  background-color: white;
  text-align: center;
  min-width: 300px;
}

.box img {
  width: 100%;
  height: auto;
}

.box-content {
  padding: 16px 24px;
}

.box-content,
h2 {
  padding: 16px;
}

.box,
p {
  font-size: 1.1em;
  line-height: 1.5;
}

.section3 {
  margin: auto;
  width: 50%;
  padding: 24px;
}

.section4 {
  display: flex;
}

.contact {
  width: 100%;
  background-color: #2690d4;
  padding: 24px;
  color: white;
}

.about {
  width: 100%;
  background-color: #333;
  padding: 24px;
  color: white;
}

footer {
  display: flex;
}

.info {
  background-color: black;
  color: white;
  width: 100%;
  padding: 24px;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .section2-card {
    flex-wrap: wrap;
  }
  .box {
    width: 100%;
  }

  .section4 {
    flex-wrap: wrap;
  }

  .contact,
  .about {
    width: 100%;
  }

  footer {
    flex-wrap: wrap;
  }

  .info {
    flex-wrap: wrap;
  }
}
